<form>
  <div class="form-group">
    <label>X</label>
    <input class="form-control" type="number" name="x" [(ngModel)]="nearbyInput.x" required/>
  </div>
  <div class="form-group">
      <label>Y</label>
      <input class="form-control" type="number" name="y" [(ngModel)]="nearbyInput.y" required/>
  </div>
  <div class="form-group">
      <label>Max Distance</label>
      <input class="form-control" type="number" name="dmax" [(ngModel)]="nearbyInput.dmax"/>
  </div>
  <button class="btn btn-primary" (click)="listNearbyPointsOfInterest()">Search</button>
</form>
<div *ngIf="pointsOfInterest && pointsOfInterest.length > 0">
  <table class="table table-striped">
      <thead>
          <tr>
            <th>#</th> 
            <th>Name</th> 
            <th>X</th> 
            <th>Y</th> 
            <th>Distance</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let poi of pointsOfInterest; let poiIndex = index;">
              <td>{{poiIndex + 1}}</td>
              <td>{{poi.name}}</td>
              <td>{{poi.x}}</td>
              <td>{{poi.y}}</td>
              <td>{{poi.distance}}</td>
          </tr>
      </tbody>
  </table>
</div>
